!/Nanodegree1_nd089_AI_Programming_with_Python/Project2_Create_Own_Image_Classifier/Part-1/flower_data.tar

!/Nanodegree1_nd089_AI_Programming_with_Python/Project2_Create_Own_Image_Classifier/Part-1/flower_data.tar.gz
